{
	pluralRules = (
		(
			"$",
			s,
		),
		(
			"s$",
			s,
		),
		(
			"(ax|test)is$",
			"$1es",
		),
		(
			"(octop|vir)us$",
			"$1i",
		),
		(
			"(alias|status)$",
			"$1es",
		),
		(
			"(bu)s$",
			"$1ses",
		),
		(
			"(buffal|tomat)o$",
			"$1oes",
		),
		(
			"([ti])um$",
			"$1a",
		),
		(
			"sis$",
			ses,
		),
		(
			"(?:([lr])f)$",
			"$1ves",
		),
		(
			"(?:(?:([^f])fe))$",
			"$1ves",
		),
		(
			"(hive)$",
			"$1s",
		),
		(
			"([^aeiouy]|qu)y$",
			"$1ies",
		),
		(
			"(x|ch|ss|sh)$",
			"$1es",
		),
		(
			"(matr|vert|ind)(?:ix|ex)$",
			"$1ices",
		),
		(
			"([m|l])ouse$",
			"$1ice",
		),
		(
			"^(ox)$",
			"$1en",
		),
		(
			"(quiz)$",
			"$1zes",
		),
	);
	singularRules = (
		(
			"(.)s$",
			"$1",
		),
		(
			"(n)ews$",
			"$1ews",
		),
		(
			"([ti])a$",
			"$1um",
		),
		(
			"(analy|ba|diagno|parenthe|progno|synop|the)ses$",
			"$1sis",
		),
		(
			"(^analy)ses$",
			"$1sis",
		),
		(
			"([^f])ves$",
			"$1fe",
		),
		(
			"(hive)s$",
			"$1",
		),
		(
			"(tive)s$",
			"$1",
		),
		(
			"([lr])ves$",
			"$1f",
		),
		(
			"([^aeiouy]|qu)ies$",
			"$1y",
		),
		(
			"series$",
			series,
		),
		(
			"movies$",
			movie,
		),
		(
			"(x|ch|ss|sh)es$",
			"$1",
		),
		(
			"([m|l])ice$",
			"$1ouse",
		),
		(
			"(bus)es$",
			"$1",
		),
		(
			"(o)es$",
			"$1",
		),
		(
			"(shoe)s$",
			"$1",
		),
		(
			"(cris|ax|test)es$",
			"$1is",
		),
		(
			"(octop|vir)i$",
			"$1us",
		),
		(
			"(alias|status)es$",
			"$1",
		),
		(
			"^(ox)en",
			"$1",
		),
		(
			"(vert|ind)ices$",
			"$1ex",
		),
		(
			"(matr)ices$",
			"$1ix",
		),
		(
			"(quiz)zes$",
			"$1",
		),
	);
	irregularRules = (
		(
			person,
			people,
		),
		(
			man,
			men,
		),
		(
			child,
			children,
		),
		(
			sex,
			sexes,
		),
		(
			move,
			moves,
		),
		(
			database,
			databases,
		),
	);
	uncountableWords = (
		equipment,
		information,
		rice,
		money,
		species,
		series,
		fish,
		sheep,
	);
}